extends ../layout 

block content
    a(href='/login') Volver
    br
    h1 Nuevo usuario 
    form(action='/usuarios/newuser' method='POST')
            table.table 
                tr 
                    td
                        label(for='nombre') Nombre:
                    td
                        input#nombre(type='text' name='nombre' )
                tr 
                    td
                        label(for='email') Email:
                    td
                        input#email(type='text' name='email' )

                tr 
                    td
                        label(for='pwd') Password:
                    td
                        input#pwd(type='password' name='password' )
    
                tr 
                    td
                        label(for='confirm_pwd') Confirmar Password:
                    td
                        input#confirm_pwd(type='password' name='confirm_password' )
                tr
                    td 
                    td
                        input.btn(type='submit' value='OK')
